# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases & Environments
database.db
.env
.flaskenv

# IDE / OS
.vscode/
.idea/
.DS_Store
